<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                        <MudContainer MaxWidth="MaxWidth.Small" Class="py-8">
                            <MudPaper Class="pa-6 pa-sm-8">
                                <MudStack Spacing="3" AlignItems="AlignItems.Center">
                                    <MudIcon Icon="@Icons.Material.Filled.Lock" Size="Size.Large" Color="Color.Warning" />

                                    <MudText Typo="Typo.h5" Align="Align.Center">
                                        @L["Auth_NotAuthorized_Title"]
                                    </MudText>

                                    <MudText Typo="Typo.body1" Align="Align.Center" Class="mud-secondary-text">
                                        @L["Auth_NotAuthorized_Message"]
                                    </MudText>

                                    <MudStack Row="true" Wrap="Wrap.Wrap" Justify="Justify.Center" Spacing="2" Class="mt-2">
                                        <MudButton Variant="Variant.Filled"
                                                   Color="Color.Primary"
                                                   Href="login">
                                            @L["Login"]
                                        </MudButton>

                                        <MudButton Variant="Variant.Outlined"
                                                   Color="Color.Primary"
                                                   Href="register">
                                            @L["Create_account"]
                                        </MudButton>
                                    </MudStack>
                                </MudStack>
                            </MudPaper>
                        </MudContainer>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>