@page "/categories"
@inherits PersonalCash.Shared.UiComponentBase

@using Domain.Contracts
@using Domain.Enums
@inject CurrentUserService CurrentUser
@inject IDialogService DialogService

<MudContainer MaxWidth="MaxWidth.False" Class="mt-3 mb-5 mt-sm-4 mb-sm-8">
    <div class="d-flex flex-column gap-4 categories-layout">
        <section>
            <MudPaper Elevation="2" Class="pa-3 pa-sm-5">
                <MudText Typo="Typo.h6">@L["Categories_Add_Title"]</MudText>

                <MudGrid Spacing="3" Class="mt-2">
                    <MudItem xs="12" Class="d-flex">
                        <MudTextField Label="@L["Categories_Name"]"
                                      Required="true"
                                      RequiredError="@L["Categories_NameRequired_ValidationError"]"
                                      @bind-Value="_name"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      Class="w-100" />
                    </MudItem>

                    <MudItem xs="12">
                        <MudStack Row="true" Wrap="Wrap.NoWrap" Justify="Justify.SpaceBetween" Spacing="2">
                            <MudButton Variant="Variant.Outlined"
                                       Disabled="_busy"
                                       OnClick="LoadAsync">
                                @L["Refresh"]
                            </MudButton>

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Disabled="_busy"
                                       OnClick="AddAsync">
                                @L["Add"]
                            </MudButton>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </section>
        @if (_busy)
        {
            <MudProgressLinear Indeterminate="true" />
        }
        <section>
            <MudPaper Elevation="2" Class="pa-3 pa-sm-5">
                <MudText Typo="Typo.subtitle1">@L["Categories_TableTitle"]</MudText>

                @if (_items.Count == 0)
                {
                    <MudText Typo="Typo.body2" Class="mud-secondary-text mt-3">
                        @L["Categories_NoItems"]
                    </MudText>
                }
                else
                {
                    <div class="d-flex justify-end mt-2">
                        <MudTextField @bind-Value="_searchString"
                                      Placeholder="@L["Search"]"
                                      Variant="Variant.Text"
                                      Margin="Margin.Dense"
                                      Clearable="true"
                                      OnClearButtonClick="ClearSearch"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      IconSize="Size.Medium"
                                      Class="categories-search" />
                    </div>

                    <MudStack Spacing="3" Class="d-sm-none mt-3">
                        @foreach (var category in _items.Where(SearchInTable))
                        {
                            <MudPaper Class="categories-mobile-card" Elevation="0" Outlined="true">
                                <div class="categories-mobile-card__top">
                                    <MudText Typo="Typo.subtitle1">@category.Name</MudText>
                                </div>

                                <MudStack Row="true" Wrap="Wrap.NoWrap" Justify="Justify.SpaceBetween" Spacing="2" Class="mt-2">
                                    <MudButton Variant="Variant.Outlined"
                                               Size="Size.Small"
                                               Color="Color.Error"
                                               Disabled="_busy"
                                               OnClick="@(async () => await ConfirmDeleteAsync(category))">
                                        @L["Delete"]
                                    </MudButton>

                                    <MudButton Variant="Variant.Outlined"
                                               Size="Size.Small"
                                               Disabled="_busy"
                                               OnClick="@(async () => await OpenEditAsync(category))">
                                        @L["Edit"]
                                    </MudButton>
                                </MudStack>
                            </MudPaper>
                        }
                    </MudStack>

                    <MudTable Items="_items"
                              Dense="true"
                              Hover="true"
                              RowsPerPage="20"
                              Class="d-none d-sm-block mt-3 table-layout-fixed"
                              Filter="new Func<CategoryDto, bool>(SearchInTable)">
                        <ColGroup>
                            <col />
                            <col style="width: 135px;" />
                        </ColGroup>
                        <HeaderContent>
                            <MudTh>
                                <MudTableSortLabel SortBy="new Func<CategoryDto, object>(x => x.Name)">
                                    @L["Categories_Name"]
                                </MudTableSortLabel>
                            </MudTh>
                            <MudTh Class="pc-text-align-right"></MudTh>
                        </HeaderContent>

                        <RowTemplate Context="category">
                            <MudTd>@category.Name</MudTd>
                            <MudTd Class="pc-text-align-right">
                                <div class="pc-flex-nowrap">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Disabled="_busy"
                                                   OnClick="@(async () => await OpenEditAsync(category))" />

                                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                   Color="Color.Error"
                                                   Disabled="_busy"
                                                   OnClick="@(async () => await ConfirmDeleteAsync(category))" />
                                </div>
                            </MudTd>
                        </RowTemplate>

                        <PagerContent>
                            <MudTablePager PageSizeOptions="new int[] { 20, 50, 100 }" />
                        </PagerContent>
                    </MudTable>
                }
            </MudPaper>
        </section>
    </div>
</MudContainer>