@page "/login"
@inherits PersonalCash.Shared.UiComponentBase

@using Infrastructure.Auth
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="d-flex justify-center login-page">
    <MudPaper Elevation="5" Class="login-card">
        <MudForm Class="py-6 px-4 py-sm-12 px-sm-14"
                 Spacing="3"
                 SuppressImplicitSubmission="false"
                 @onsubmit="OnSubmitLogin">
            <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-3 mb-sm-5">@L["Welcome"]</MudText>

            <MudTextField Label="@L["Email"]"
                          @bind-Value="email"
                          InputMode="InputMode.email"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          Class="w-100" />

            <MudTextField Label="@L["Password"]" 
                          @bind-Value="password"
                          InputType="@PasswordInput"
                          Adornment="Adornment.End"
                          AdornmentIcon="@PasswordInputIcon"
                          OnAdornmentClick="TogglePassword"
                          Variant="Variant.Outlined" 
                          Margin="Margin.Dense" 
                          Class="w-100" />

            <MudCheckBox T="bool"
                         @bind-Value="rememberMe"
                         Label="@L["Remember_me"]"
                         Color="Color.Primary"
                         Dense="true"
                         Class="mt-1 mb-1" />

            <MudButton Variant="Variant.Filled"
                       FullWidth="true"
                       Color="Color.Primary"
                       ButtonType="ButtonType.Submit">
                @L["Login"]
            </MudButton>

            <MudButton Variant="Variant.Outlined"
                       FullWidth="true"
                       Color="Color.Secondary"
                       ButtonType="ButtonType.Button"
                       OnClick="OnClickDemoLogin">
                @L["Demo_Login"]
            </MudButton>

            <MudText Class="mt-2" Typo="Typo.body2">
                <MudLink Href="register">@L["Create_account"]</MudLink>
            </MudText>
        </MudForm>
    </MudPaper>
</div>