@page "/accounts"
@inherits PersonalCash.Shared.UiComponentBase

@using Domain.Contracts
@using Domain.Enums

<div class="accounts-page">
    <MudContainer MaxWidth="MaxWidth.False">
        <div class="accounts-layout">
            <MudPaper Elevation="2" Class="accounts-paper">
                <MudText Typo="Typo.h6">@L["Accounts_Add_Title"]</MudText>

                <MudGrid Spacing="3" Class="accounts-form-grid" AlignItems="AlignItems.Stretch">
                    <MudItem xs="12" sm="6" Class="d-flex">
                        <MudTextField Label="@L["Accounts_Name"]"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      Class="w-100"
                                      @bind-Value="_name" />
                    </MudItem>

                    <MudItem xs="12" sm="2" Class="d-flex">
                        <MudTextField Label="@L["Accounts_Currency"]"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      Class="w-100"
                                      @bind-Value="_currency"
                                      Disabled="true" />
                    </MudItem>

                    <MudItem xs="6" sm="2" Class="d-flex">
                        <MudSelect T="string"
                                   Label="@L["Accounts_Icon"]"
                                   Variant="Variant.Outlined"
                                   Margin="Margin.Dense"
                                   Class="w-100"
                                   @bind-Value="_iconKey">
                            @foreach (var key in Enum.GetValues<AccountIcon>())
                            {
                                var icon = key.GetIcon();
                                <MudSelectItem Value="@key.ToString()">
                                    <div class="icon-option">
                                        <MudIcon Icon="@icon" />
                                    </div>
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="6" sm="2" Class="d-flex">
                        <MudNumericField T="int"
                                         Label="@L["Accounts_SortOrder"]" 
                                         Variant="Variant.Outlined"
                                         Margin="Margin.Dense"
                                         Class="w-100"
                                         @bind-Value="_sortOrder"/>
                    </MudItem>

                    <MudItem xs="12">
                        <MudSwitch T="bool"
                                   Color="Color.Primary"
                                   @bind-Value="_showBalance"
                                   Label="@L["Accounts_ShowBalance"]" />
                    </MudItem>

                    <MudItem xs="12" Class="accounts-form-actions">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Disabled="_busy"
                                   OnClick="AddAsync">
                            @L["Add"]
                        </MudButton>

                        <MudButton Variant="Variant.Outlined"
                                   Disabled="_busy"
                                   OnClick="LoadAsync">
                            @L["Refresh"]
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>

            <MudPaper Elevation="2" Class="accounts-paper">
                <MudText Typo="Typo.subtitle1">
                    @string.Format(L["Accounts_TableTitle"], _items.Count)
                </MudText>

                @if (_items.Count == 0)
                {
                    <MudText Typo="Typo.body2" Class="mud-secondary-text mt-3">
                        @L["Accounts_NoItems"]
                    </MudText>
                }
                else
                {
                    <div class="accounts-mobile-list">
                        @foreach (var a in _items)
                        {
                            <MudPaper Class="accounts-mobile-card" Elevation="0" Outlined="true">
                                <div class="accounts-mobile-card__top">
                                    <div class="icon-option">
                                        <span>#@a.SortOrder </span>
                                        <MudIcon Icon="@AccountIconExtensions.FromDbKey(a.IconKey).GetIcon()" />
                                        <span>@a.Name</span>
                                    </div>

                                    @if (a.IsArchived)
                                    {
                                        <MudChip T="string" Size="Size.Small" Variant="Variant.Filled">
                                            @L["Accounts_Archived"]
                                        </MudChip>
                                    }
                                </div>

                                <div class="accounts-mobile-card__row">
                                    <span>@L["Accounts_Currency"]</span>
                                    <span>@a.Currency</span>
                                </div>

                                <div class="accounts-mobile-card__row">
                                    <span>@L["Accounts_BalanceActual"]</span>
                                    <span>@(a.ShowBalance ? $"{a.BalanceActual:N2} {a.Currency}" : "****")</span>
                                </div>

                                <div class="accounts-mobile-card__row">
                                    <span>@L["Accounts_BalanceExpected"]</span>
                                    <span>@(a.ShowBalance ? $"{a.BalanceExpected:N2} {a.Currency}" : "****")</span>
                                </div>

                                <div class="accounts-mobile-card__actions">
                                    <MudButton Variant="Variant.Outlined"
                                               Size="Size.Small"
                                               Color="Color.Error"
                                               Disabled="_busy"
                                               OnClick="@(async () => await ConfirmDeleteAsync(a))">
                                        @L["Delete"]
                                    </MudButton>

                                    <MudButton Variant="Variant.Outlined"
                                               Size="Size.Small"
                                               Disabled="_busy"
                                               OnClick="@(async () => await OpenEditAsync(a))">
                                        @L["Edit"]
                                    </MudButton>                                    
                                </div>
                            </MudPaper>
                        }
                    </div>

                    <div class="accounts-desktop-table">
                        <MudTable  Items="_items" Dense="true" Hover="true" RowsPerPage="20">
                            <ColGroup>
                                <col style="width: 40px;" />
                                <col style="width: 40px;" />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col style="width: 135px;" />
                            </ColGroup>
                            <HeaderContent>
                                <MudTh></MudTh>
                                <MudTh></MudTh>
                                <MudTh>@L["Accounts_Name"]</MudTh>
                                <MudTh>@L["Accounts_Currency"]</MudTh>
                                <MudTh Class="pc-text-align-right">@L["Accounts_BalanceActual"]</MudTh>
                                <MudTh Class="pc-text-align-right">@L["Accounts_BalanceExpected"]</MudTh>
                                <MudTh>@L["Accounts_Archived"]</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>

                            <RowTemplate Context="a">
                                <MudTd Class="pl-1 pr-1">#@a.SortOrder</MudTd>
                                <MudTd Class="pl-1 pr-1">
                                    <MudIcon Icon="@AccountIconExtensions.FromDbKey(a.IconKey).GetIcon()" />
                                </MudTd>
                                <MudTd>@a.Name</MudTd>
                                <MudTd>@a.Currency</MudTd>
                                <MudTd Class="pc-text-align-right">@(a.ShowBalance ? $"{a.BalanceActual:N2} {a.Currency}" : "****")</MudTd>
                                <MudTd Class="pc-text-align-right">@(a.ShowBalance ? $"{a.BalanceExpected:N2} {a.Currency}" : "****")</MudTd>
                                <MudTd>@(a.IsArchived? L["Accounts_Yes"] : L["Accounts_No"])</MudTd>
                                <MudTd>
                                    <div class="pc-inline-actions-nowrap">
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                       Disabled="_busy"
                                                       OnClick="@(async () => await OpenEditAsync(a))" />
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                       Color="Color.Error"
                                                       Disabled="_busy"
                                                       OnClick="@(async () => await ConfirmDeleteAsync(a))" />
                                    </div>
                                </MudTd>
                            </RowTemplate>

                            <PagerContent>
                                <MudTablePager PageSizeOptions="new int[] { 20, 50, 100 }" />
                            </PagerContent>
                        </MudTable>
                    </div>
                }
            </MudPaper>
        </div>
    </MudContainer>
</div>