@inherits PersonalCash.Shared.UiComponentBase

@using Domain.Contracts
@using Domain.Enums
@using System.Globalization

<MudDialog ContentClass="edit-account-dialog__content"
           ActionsClass="gap-2 edit-account-dialog__actions">
    <DialogContent>
        <MudStack Spacing="2" Class="edit-account-dialog__stack">

            <MudTextField Label="@L["Accounts_Name"]"
                          @bind-Value="_name"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          Required="true" />

            <MudTextField Label="@L["Accounts_Currency"]"
                          @bind-Value="_currency"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          Disabled="true" />

            <MudSelect T="AccountIcon"
                       Label="@L["Accounts_Icon"]"
                       @bind-Value="_icon"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense">
                @foreach (var key in Enum.GetValues<AccountIcon>())
                {
                    <MudSelectItem Value="@key">
                        <div class="icon-option">
                            <MudIcon Icon="@key.GetIcon()" />
                        </div>
                    </MudSelectItem>
                }
            </MudSelect>

            <MudNumericField T="int"
                             Label="@L["Accounts_SortOrder"]" 
                             @bind-Value="_sortOrder"
                             Variant="Variant.Outlined"
                             Margin="Margin.Dense"/>

            <MudSwitch T="bool"
                       Color="Color.Primary"
                       @bind-Value="_showBalance"
                       Label="@L["Accounts_ShowBalance"]" />

            <MudSwitch T="bool"
                       Color="Color.Primary"
                       @bind-Value="_isArchived">
                @L["Accounts_Archived"]
            </MudSwitch>

            <MudTextField T="string"
                          Label="@L["Accounts_BalanceActual"]"
                          @bind-Value="_balanceActualText"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          Adornment="Adornment.Start"
                          AdornmentText="@_currency" />
        </MudStack>
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Cancel">
            @L["Cancel"]
        </MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveAsync">
            @L["Save"]
        </MudButton>
    </DialogActions>
</MudDialog>
