@inherits PersonalCash.Shared.UiComponentBase

@using Microsoft.AspNetCore.Components
@using Domain
@using Domain.Enums
@using Domain.Contracts
@using PersonalCash.Shared.Components

<MudDialog>
    <DialogContent>
        <MudGrid Class="mt-2">
            <MudItem xs="12" sm="6">
                <PcDatePicker @bind-Date="OccurredOnPicker"/>

            </MudItem>

            <MudItem xs="12" sm="6">
                <MudSelect T="EntryType" Label=@L["Type"] @bind-Value="_entryType" Variant="Variant.Outlined">
                    <MudSelectItem Value="EntryType.Income">@EntryType.Income.ToLocalizedString(L)</MudSelectItem>
                    <MudSelectItem Value="EntryType.Outcome">@EntryType.Outcome.ToLocalizedString(L)</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudSelect T="Guid"
                           Label=@L["Account"]
                           @bind-Value="_accountId"
                           Variant="Variant.Outlined">
                    @foreach (var a in Accounts)
                    {
                        <MudSelectItem Value="@a.Id">
                            <div class="icon-option">
                                <MudIcon Icon="@AccountIconExtensions.FromDbKey(a.IconKey).GetIcon()" />
                                @a.Name (@a.Currency)
                            </div>
                        </MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6">
                <PcAmountField Value="_amount"
                               ValueChanged="OnAmountChanged"
                               Required="true"
                               Adornment="Adornment.Start"
                               AdornmentText="@_currency" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudSelect T="Guid" Label=@L["Category"] @bind-Value="_categoryId" Variant="Variant.Outlined">
                    @foreach (var c in Categories)
                    {
                        <MudSelectItem T="Guid" Value="@c.Id">@c.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <MudTextField Label=@L["Note"]
                              @bind-Value="_note"
                              Variant="Variant.Outlined"
                              Lines="3" />
            </MudItem>
            <MudItem xs="12" md="6" Class="d-flex align-center">
                <MudStack direction="Row" AlignItems="AlignItems.Center" Class="w-100">
                    <MudSwitch T="bool"
                               Label=@L["Is_For_Planning"]
                               @bind-Value="_isForPlanning"
                               Color="Color.Primary" />
                </MudStack>
            </MudItem>
        </MudGrid>
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Cancel">@L["Cancel"]</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="_busy" OnClick="SaveAsync">
            @L["Save"]
        </MudButton>
    </DialogActions>
</MudDialog>