@inherits PersonalCash.Shared.UiComponentBase

@using Microsoft.AspNetCore.Components
@using MudBlazor
@using Domain.Enums
@using Domain.Contracts

<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.subtitle1">Realize planned transaction</MudText>

        <MudGrid Class="mt-2">
            <MudItem xs="12" sm="6">
                <MudDatePicker Label="Date"
                               @bind-Date="OccurredOnPicker"
                               Variant="Variant.Outlined" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudSelect Disabled="true" T="EntryType" Label="Type" @bind-Value="_entryType" Variant="Variant.Outlined">
                    <MudSelectItem Value="EntryType.Income">Income</MudSelectItem>
                    <MudSelectItem Value="EntryType.Outcome">Outcome</MudSelectItem>
                </MudSelect>
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudSelect T="Guid"
                           Label="Account"
                           @bind-Value="_accountId"
                           Variant="Variant.Outlined"
                           Disabled="true">
                    @foreach (var a in Accounts)
                    {
                        <MudSelectItem Value="@a.Id">
                            <div class="icon-option">
                                <MudIcon Icon="@AccountIconExtensions.FromDbKey(a.IconKey).GetIcon()" />
                                @a.Name (@a.Currency)
                            </div>
                        </MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudNumericField T="decimal"
                                 Label="Amount"
                                 @bind-Value="_amount"
                                 Variant="Variant.Outlined"
                                 HideSpinButtons="true"
                                 Culture="CultureInfo.CurrentCulture"
                                 Format="0.00"
                                 Adornment="Adornment.Start"
                                 AdornmentText="@_currency" />
            </MudItem>

            <MudItem xs="12" sm="6">
                <MudSelect T="Guid" Label="Category" @bind-Value="_categoryId" Variant="Variant.Outlined" Disabled="true">
                    @foreach (var c in Categories)
                    {
                        <MudSelectItem T="Guid" Value="@c.Id">@c.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>

            <MudItem xs="12">
                <MudTextField Label="Note"
                              @bind-Value="_note"
                              Variant="Variant.Outlined"
                              Lines="3" />
            </MudItem>
        </MudGrid>
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Text" OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="_busy" OnClick="SaveAsync">
            Save
        </MudButton>
    </DialogActions>
</MudDialog>