@using Domain.Contracts

<MudTable T="LoanDto"
          Items="Items"
          Dense="true"
          Hover="true"
          RowsPerPage="20"
          HorizontalScrollbar="true"
          Class="table-layout-fixed"
          RowClassFunc="IsFullyPaidClass"
          OnRowClick="HandleRowClick">

    <ColGroup>
        <col style="width: 250px; min-width: 250px" />
        <col style="width: 1%;" />
        <col style="width: 1%;" />
        <col style="width: 1%;" />
        <col style="width: 1%;" />
        <col style="width: 1%;" />
        <col style="min-width: 200px" />
        <col style="width: 128px; min-width: 128px" />
    </ColGroup>

    <HeaderContent>
        <MudTh>@L["Debts_Name"]</MudTh>
        <MudTh>@L["Debts_Amount"]</MudTh>
        <MudTh>@L["Debts_Remaining"]</MudTh>
        <MudTh>@L["Debts_PaymentsProgress"]</MudTh>
        <MudTh>@L["Debts_NextOLastPaymentDate"]</MudTh>
        <MudTh>@L["Debts_Interest"]</MudTh>
        <MudTh>@L["Debts_Note"]</MudTh>
        <MudTh></MudTh>
    </HeaderContent>

    <RowTemplate Context="loan">
        <MudTd>
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                <MudIcon Icon="@GetToggleIcon(loan.Id)"
                               Size="Size.Medium" />
                <MudText>@loan.Name</MudText>
            </MudStack>
        </MudTd>

        <MudTd>
            <MudText Typo="Typo.body2" Align="Align.End" Class="pc-text-nowrap">
                @loan.Amount.ToString("N2") @loan.Currency
            </MudText>
        </MudTd>

        <MudTd>
            <MudText Typo="Typo.body2" Align="Align.End" Class="pc-text-nowrap">
                @RemainingAmount(loan).ToString("N2") @loan.Currency
            </MudText>
        </MudTd>

        <MudTd>
            <MudText Typo="Typo.body2" Align="Align.Center">
                @PaymentsProgress(loan)
            </MudText>
        </MudTd>

        <MudTd Class="pc-text-nowrap">
            <MudText Typo="Typo.body2" Class="pc-text-nowrap">
                @NextOLastPaymentDateText(loan)
            </MudText>
        </MudTd>

        <MudTd>
            <MudText Typo="Typo.body2" Align="Align.Center">
                @InterestText(loan)
            </MudText>
        </MudTd>

        <MudTd>
            <MudText Typo="Typo.body2" Align="Align.Left">
                @(string.IsNullOrWhiteSpace(loan.Note) ? "—" : @loan.Note)
            </MudText>
        </MudTd>

        <MudTd>
            <MudStack Row="true" Wrap="Wrap.NoWrap" Justify="Justify.FlexEnd" Spacing="0">
                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                               Disabled="Busy"
                               OnClick="() => OnEditLoan.InvokeAsync(loan)" />

                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               Color="Color.Error"
                               Disabled="Busy"
                               OnClick="() => OnDeleteLoan.InvokeAsync(loan)" />
            </MudStack>
        </MudTd>
    </RowTemplate>
    
    <ChildRowContent Context="loan">
        @if (IsExpanded(loan.Id))
        {
            <MudTr>
                <td colspan="8">
                    <MudTable Items="GetPaymentsByLoanId(loan.Id)"
                              Dense="true"
                              Hover="true"
                              Elevation="4"
                              ContainerClass="@IsFullyPaidClass(loan, 0)"
                              Class="table-layout-fixed debts-table__child-content ml-16 mb-6">
                        <ColGroup>
                            <col style="width: 1%" />
                            <col style="width: 1%;" />
                            <col style="width: 1%;" />
                            <col />
                            <col style="width: 128px; min-width: 128px" />
                        </ColGroup>
                        <HeaderContent>
                            <MudTh>@L["Debts_NextOLastPaymentDate"]</MudTh>
                            <MudTh>@L["Debts_Amount"]</MudTh>
                            <MudTh>@L["Debts_Status"]</MudTh>
                            <MudTh>@L["Debts_Note"]</MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>

                        <RowTemplate Context="payment">
                            <MudTd>
                                <MudText Typo="Typo.body2" Class="pc-text-nowrap">
                                    @payment.DueDate.ToString("yyyy-MM-dd")
                                </MudText>
                            </MudTd>

                            <MudTd>
                                <MudText Typo="Typo.body2" Align="Align.End" Class="pc-text-nowrap">
                                    @payment.Amount.ToString("N2") @loan.Currency
                                </MudText>

                            </MudTd>

                            <MudTd>
                                @if (payment.IsPaid)
                                {
                                    <MudChip T="string"
                                             Size="Size.Small"
                                             Color="Color.Success"
                                             Variant="Variant.Filled"
                                             Text="@L["Debts_PaymentStatus_Paid"]" />
                                }
                                else
                                {
                                    <MudChip T="string"
                                             Size="Size.Small"
                                             Color="Color.Warning"
                                             Variant="Variant.Filled"
                                             Text="@L["Debts_PaymentStatus_NotPaid"]" />
                                }
                            </MudTd>

                            <MudTd>
                                <MudText Typo="Typo.body2" Align="Align.Left">
                                    @(string.IsNullOrWhiteSpace(payment.Note) ? "—" : payment.Note)
                                </MudText>
                            </MudTd>

                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                               Disabled="Busy"
                                               OnClick="() => OnEditPayment.InvokeAsync((loan, payment))" />
                            </MudTd>
                        </RowTemplate>
                        <NoRecordsContent>
                            <MudText>@L["Debts_NoPayments"]</MudText>
                        </NoRecordsContent>
                        <LoadingContent>
                            <MudText>@L["Loading"]</MudText>
                        </LoadingContent>
                    </MudTable>
                </td>
            </MudTr>
        }
    </ChildRowContent>
    <NoRecordsContent>
        <MudText>@L["Debts_NoDebts"]</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>@L["Loading"]</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 20, 50, 100 }" />
    </PagerContent>
</MudTable>